<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %></p>
        <div class="dropdown">
          <button type="button" id="dropdown1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ▼
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdown1">
            <li><%= link_to '編集', edit_talk_comment_path(comment.talk_id, comment.id), remote: true %></li>
            <li><%= link_to '削除', talk_comment_path(comment.talk_id, comment.id), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' } %></li>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<div id ="edit_area"></div>