<% if user_signed_in? %>

  <% unless talk.like_user(current_user.id).blank? %>
    <%= link_to talk_like_path(talk_id: talk.id, id: talk.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons red-text">favorite</i>
        <span class="red-text">
          <%= talk.likes_count %>
        </span>
      </div>
    <% end %>
  <% else %>
    <%= link_to talk_likes_path(talk.id), method: :talk, remote: true do %>
      <div class="vertical_like">
        <i class="material-icons grey-text text-darken-2">favorite_border</i>
        <span class="grey-text text-darken-2">
          <%= talk.likes_count %>
        </span>
      </div>
    <% end %>
  <% end %>

<% end %>