/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

/* 変数 */
$kosugi: 'Kosugi Maru', sans-serif;
$marck_script: 'Marck Script', cursive;
$bottom_30: 0 0 30px 0;
$left_30: 0 0 0 30px;
$font_size_s: 0.9rem;
$font_size_ss: 0.8rem;
$font_size_xs: 0.7rem;
$font_size_m: 1.2rem;
$font_color: #454545;
$font_color_right: #666666;
$font_link_color: #2da2a8;
$font_hover_color: #2cbfc7;
$header_height: 70px;
$border_right_gray: 1px solid #e5e5e5;
$admin_font_color: #a2ebdf;
$a_pink: #ffa1a1;
$a_pink_hover: #ffb5b5;

/* default */
a { color: $font_link_color; transition: all 0.2s ease 0s; }
a:hover { color: $font_hover_color; text-decoration: none; transition: all 0.2s ease 0s; }
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* @expand */
.btn {
  padding: 10px 20px;
  border: 2px solid blue;
  border-radius: 3px;
  background-color: lightgray;
}
.btn-submit {
  @extend .btn;//.btnのスタイルを継承
  background-color: lightblue;//スタイルの上書き
  font-size: 1.5em;//スタイルの追加
}

/* input */
input, textarea {
  border: 1px solid #d9d9d9;
  padding: 5px;
  font-size: $font_size_s;
}

label {
  font-size: $font_size_s;
}
// input[type=radio]:checked

/* Search */
div.search_box {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  background: #f5f5f5;
  div { margin-bottom: 10px; }
  label { margin-right: 20px; margin-bottom: 6px; }
  label.search_label {
    // background: #f00;
    width: 110px;
  }
  input[type=search] { width: 300px; }
  i {
    margin-right: 2px;
    font-size: 1.2rem;
    transform: translateY(4px);
  }
  input[name=commit] {
    background: #fff;
    padding: 6px 15px;
    font-size: 0.8rem;
    color: $font_color;
    border: 1px solid $font_color;
  }
  a.btn_reset {
    background: #fff;
    padding: 4px 10px;
    font-size: 0.8rem;
    color: $font_color;
    border: 1px solid $font_color;
  }
  div.search_btns {
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-align: right;
  }
}

div.search_box:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  bottom: 0px;/*線の上下位置*/
  display: inline-block;
  width: 100%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-10px);/*位置調整*/
  background-color: #363636;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

div.search_box:after {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  bottom: 0px;/*線の上下位置*/
  display: inline-block;
  width: 1px;/*線の長さ*/
  height: 100%;/*線の太さ*/
  -webkit-transform: translateY(-50%);
  transform: translateY(-10px);/*位置調整*/
  background-color: #363636;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

/* flash message */
.flash_m {
  background-color: #f00;
  padding: 13px 30px;
  text-align: center;
}

.notice {
  background-color: #c2eeda;
  border: 1px solid #7be7b6;
  color: #009e07;
}

.alert {
  background-color: #f8dfdf;
  border: 1px solid #ff8e8e;
  color: #ff8e8e;
}

/* --------------------------------------- */

html {
  height: 100%;
}

body {
  // font-family: $kosugi;
  height: 100%;
  font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,'Hiragino Kaku Gothic ProN',YuGothic,'Yu Gothic','游ゴシック体','游ゴシック',Meiryo,sans-serif;
  color: $font_color;
}

div.wrapper {
  position: relative;
  min-height: 100%;
}

/* h1 */
div.h1_background {
  background: $font_color;
  margin-bottom: 30px;
  padding: 20px 0;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
// h2:before {
//   content: '';
//   display: inline-block;
//   width: 13px;/*線の長さ*/
//   height: 13px;/*線の太さ*/
//   transform: translateY(-10px);/*位置調整*/
//   background-color: #efed62;
// }

div.box {
  margin: $bottom_30;
}

/* Admin Nav */
div.admin_nav {
  background-color: $font_color;
  padding: 12px 30px;;
  font-size: $font_size_s;
  p {
    float: left;
    color: $admin_font_color;
  }
  ul { float: left;
    li { display: inline; margin-left: 15px; }
    li a { color: $admin_font_color; }
    li a:hover { color: #fff; }
  }
}

/* Header */
div.header {
  height: $header_height;
  padding: 0 30px;
  div.logo {
    float: left;
    line-height: $header_height;
    font-size: 2rem;
    font-family: $marck_script;
    a { color: $font_color; }
  }
  ul.global_nav {
    float: right;
    line-height: $header_height;
  }
  ul.global_nav li {
    display: inline;
    margin-right: 30px;
    font-size: $font_size_s;
  }
  ul.global_nav li:last-child {
    margin-right: 0px;
  }
  ul.global_nav li a { color: $font_color; }
  ul.global_nav li a:hover { color: $font_color_right; }
}

/* Main Visual */
div.main_visual {
  background: #2cbfc7;
  height: 300px;
}

/* columns_wrapper */
div.columns_wrapper {
  margin-top: 40px;
}

/* Main_column */
div.main_column {
  min-height: 100%;
  // これをとるとfooterが浮く
  padding-bottom: 60px;
}

/* Talk Box */
div.talk_box {
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 15px 20px 25px 20px;
  div.talk_box_header{
    $talk_box_header_height: 35px;
    ul {
      float: left;
      height: $talk_box_header_height;
      a.user_link { float: left;
        img {
          width: $talk_box_header_height;
          height: $talk_box_header_height;
          object-fit: cover; 
          border-radius: 50%;
        }
      }
      li {
        float: left;
        margin-left: 10px;
        line-height: $talk_box_header_height;
        div.vertical_like {
          i { vertical-align: sub; font-size: $font_size_m; }
        }
      }
      li:first-child { margin-left: 0; }
    }
    ul.talk_box_right {
      float: right; 
      font-size: 1.2rem;
      font-family: $marck_script;
      color: #666666;
      li { margin-left: 20px; }
      a { color: $a_pink; }
      a:hover { color: $a_pink_hover; }
      span { font-size: 1.5rem; font-weight: bold; }
    }
  }
  div.talk_box_main {
    clear: both;
    p { padding-top: 15px; }
    p.talk_box_title {
      font-size: $font_size_m;
      line-height: 1.7rem;
      a { color: $font_color; }
      a:hover { color: $font_hover_color; }
    }
    p.talk_box_content {
      line-height: 1.3rem;
      color: $font_color_right;
      font-size: $font_size_ss
    }
  }
}

/* main_column > one_column */
div.one_column {
  // background: #ccc;
  margin-bottom: 30px;
  div.form {
    label { padding: 10px 0; }
    dt {
      font-weight: bold;
      margin-bottom: 10px;
    }
    dd.text_field {
      input {
        width: 100%;
        min-height: 100px;
        padding: 5px;
        border-radius: 5px;
        vertical-align: top;
      }
    }
    dd {
      margin-bottom: 20px;
      label { padding: 0; }
    }
    dd.select_field label { margin-right: 20px; } 
    dd.btn_submit {
      display: block;
      text-align: center;
      margin-top: 30px;
      input[name=commit] {
        text-align: center;
        border-radius: 4px;
        padding: 10px 20px;
      }
    }
  }
  ul.back_links {
    text-align: center;
    margin-top: 30px;
  }
}

/* error_explanation */
div#error_explanation {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid $a_pink;
  background: $a_pink_hover;
}

/* profile > profile_navs */
div.profile_head {
  margin-bottom: 30px;
  img {
    float: left;
    border-radius: 50%;
    margin-right: 30px;
  }
  h2 {
    float: left;
    vertical-align: middle;
    margin-top: 40px;
  }
}

ul.profile_navs {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-start;
  margin-bottom: 30px;
  li {
    border: 1px solid $font_color;
    text-align: center;
    margin-right: 10px;
  li:last-child { margin-right: none; }
    a {
      display: block;
      color: #363636;
      padding: 8px 10px;
    }
  }
}

/* Footer */
div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: $font_size_xs;
  color: $font_color_right;
  border-top: $border_right_gray;
}